<table class="table w-75 mx-auto mt-5">
  <thead class="table-dark">
  <tr>
    <th scope="col">Product ID</th>
    <th scope="col">Product Name</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tempProd of basket">
    <th scope="row">{{ tempProd.productId }}</th>
    <td>{{ tempProd.productName }}</td>
    <td>{{ tempProd.productPrice | currency: "USD"}}</td>
  </tr>
  </tbody>
  <tfoot class="">
    <td></td>
    <td></td>
    <td>In Total: {{ inTotal | currency: "USD" }}</td>
  </tfoot>

</table>
